  <p style="color: orangered">
    Important to import FormsModule from @angular/forms
  </p>
  <fieldset [hidden]="submitted">
    <h4>Template-Driven Form</h4>
    <i><small>Suitable for small and simple form</small></i>
    <form #tdfPetForm="ngForm" (ngSubmit)="tdf_onSubmit()">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          required
          [(ngModel)]="tdf_model.name"
        />
      </div>
      <div>
        <label for="specie">Specie</label>
        <select name="specie" id="specie" [(ngModel)]="tdf_model.specie">
          <option *ngFor="let item of tdf_species">{{ item }}</option>
        </select>
      </div>
      <button [disabled]="!tdfPetForm.form.valid" type="submit">Submit</button>
    </form>
    <fieldset>
      <code>{{ tdf_model | json }}</code>
    </fieldset>
  </fieldset>
  <fieldset [hidden]="!submitted">
    <h4>You have submitted your form</h4>
    <code>{{ tdf_model | json }}</code>
    <button (click)="submitted=!submitted">Edit</button>
  </fieldset>