/* You can add global styles to this file, and also import other style files */
a {
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(216, 216, 255);
}

fieldset {
    margin-top: 10px;
    margin-bottom: 12px;
}

.fieldset-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

code {
    display: flex;
    flex-direction: column;
}

.code {
    color: blue;
    font-weight: bold;
}

.red {
    color: red;
}

.blue {
    color: blue;
}